body {
  background: rgb(218,222,212);
  background-image: radial-gradient( circle 737px at 48.9% 49%,  rgba(129,104,210,1) 0%, rgba(170,239,125,1) 100.3% );
  margin: 0;
  font-family: 'Noto Sans', sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
